alabaster==0.7.12
Babel==2.7.0
beautifulsoup4==4.10.0
breathe==4.14.2
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
docutils==0.15.2
exhale==0.2.3
furo==2021.11.23
idna==2.8
imagesize==1.1.0
Jinja2==2.10.3
lxml==4.6.4
m2r2==0.3.2
MarkupSafe==1.1.1
mistune==0.8.4
packaging==19.2
Pygments==2.10.0
pyparsing==2.4.2
pytz==2019.3
requests==2.22.0
six==1.12.0
snowballstemmer==2.0.0
soupsieve==2.3.1
Sphinx==4.3.2
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.5
urllib3==1.26.5
